/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(to right, #010017, #030151);
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  position: relative; 
  overflow: hidden; 
}

/* Transparent HI on the background with heartbeat animation */
body::before {
  content: "HI";
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 30vw; 
  font-weight: bold;
  color: transparent; 
  -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.2); 
  z-index: -1; 
  animation: heartbeat 3s infinite; 
}

/* Heartbeat animation */
@keyframes heartbeat {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1); 
  }
  30% {
    transform: translate(-50%, -50%) scale(1.2); 
  }
  50% {
    transform: translate(-50%, -50%) scale(1); 
  }
}



/* Navbar */
.navbar {
  width: 100%;
  padding: 40px;
  text-align: right;
  font-weight: bold;
}

  .navbar a {
    color: #B2A4D4;
    text-decoration: none;
    margin: 0 5px;
    font-size: .9em;
    font-weight: bold;
}

.navbar a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.nav a {
  color: #B2A4D4;
  text-decoration: none;
  margin: 0 25px;
  font-size: 1em;
  font-weight: bold;
}

.nav-btn {
  background: linear-gradient(to left, #010017, #030151);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 0px 10px #917ae0;
}

.nav-btn:hover {
  background-color: #203354;
  color: #ffffff;
}



/* Main container */
.container {
  display: flex;
  max-width: 1000px;
  padding: 20px;
  text-align: center;
  color: #fff;
  text-align: center; 
  width: 100%;
}

/* Logo */
.logo {
  position: absolute;
  top: 20px;
  left: 250px;
  font-size: 1em;
  font-weight: bold;
  color: #917ae0;
}

.logo img {
  width: 120px;
  height: auto;
  display: block;
  margin-bottom: 5px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile */
.profile-image {
  width: 400px;
  height: 550px;
  border-radius: 0px;
  overflow: hidden;
  overflow: hidden;          
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;          
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 150px; 
}

.profile-image img {
  width: 70%;
  height: 70%;
  border-radius:20px;  
  box-shadow: -10px 10px 10px #917ae0;
}

.slanted-image {
  border-radius:0%;       
  object-fit: cover;        
  transform: rotate(-10deg); 
}

/* Icons */
.icons-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}

.icons-container a {
  text-decoration: none;
}

.icons-container i {
  color: #917ae0;
  font-size: 1.2em; 
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px; 
  border-radius: 50%; 
  border: 2px solid #917ae0;
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-container i:hover {
  color: #fff;
  background-color: #6049c2; 
  border-color: #fff; 
}


/* About */
.about {
  margin-top: 5px;
  text-align: left;
  color: #bbb;
  width: 100%;
  max-width: 900px; 
  margin-left: 0; 
}

.about h3 {
  color:#B2A4D4;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding-left: 30px;
}

.about p {
  line-height: 1.6;
  font-size: 1em;
  color: #ffffff;
  width: 100%; 
  padding-left: 30px;
}

/* Center content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: right;
  width: 100%;
}

/* Intro */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1;
  }
}

h1 {
  font-size: 2em;
  color: #fff;
  text-align: left;
  width: 100%;
  margin-top: 120px;
  padding-left: 30px;
  animation: slideIn 1s forwards;
}


h2 {
  font-size: 2em;
  color: #917ae0;
  text-align: left;
  width: 100%;
  margin-top: 15px;
  padding-left: 30px;
  opacity: 0; 
  animation: slideInLeftToRight 1s forwards;
}

@keyframes slideInLeftToRight {
  0% {
    transform: translateX(-100%); 
    opacity: 0; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1; 
  }
}



.subtitle {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  margin-top: 10px; 
  padding-left: 30px;
}


/* Button */
.btn {
  padding: 5px 5px;
  color: #fff;
  font-weight: bold;
  background-color: #917ae0;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  margin-left: 30px;
  transition: background-color 0.3s;
  display: block; 
  width: 20%;
}

.btn:hover {
  background-color: #a98bf0;
}


